*{
    background-color: rgb(0, 0, 0); text-decoration: none; color: rgb(128, 78, 78);

}

.h2{ font-family: 'Times New Roman', Times, serif;
}

#form{
    
}


.footer {
position: fixed;    
}

#menu {
  position: fixed;
  
  top: 5%;
  width: 8px;
  margin-top: -2.5em;
  list-style: none;
  
  display: flex;
  
}

#header  {
    align: center;

}
</style>